.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
    appearance: none;
}

.bounch-custom {
    animation: bounch-custom 0.5s;
}

@keyframes bounch-custom {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;